.cp_iptxtarea {
	position: relative;
	width: 100%;
	margin-top: 40px;
}
.cp_iptxtarea textarea {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
  padding-left: 5em;
  transition: 0.2s padding-left;
}
.cp_iptxtarea textarea:focus {
  outline: none;
  padding-left: 0em;
}
.ef {
	padding: 4px 0;
	border: 0;
	border-bottom: 1px solid #1b2538;
	background-color: transparent;
}
.ef ~ .focus_line_t {
	position: absolute;
	bottom: 2px;
	left: 0;
	width: 0;
	height: 2px;
	transition: 0.4s;
	background-color: #da3c41;
}
.ef:focus ~ .focus_line_t,
.cp_iptxtarea.ef ~ .focus_line_t {
	width: 100%;
	transition: 0.4s;
}
.ef ~ label {
	position: absolute;
	z-index: -1;
	top: 4px;
	left: 0;
	width: 100%;
	transition: 0.3s;
	letter-spacing: 0.5px;
	color: #aaaaaa;
}
.ef:focus ~ label, .cp_iptxtarea.ef ~ label {
	font-size: 12px;
	top: -16px;
	transition: 0.3s;
	color: #da3c41;
}
