version: 2
jobs:
  build:
    working_directory: ~/simple-blog
    docker:
      - image: circleci/node:lts
    steps:
      - checkout
      - restore_cache:
          keys:
            - app-dependencies-{{ checksum "app/package.json" }}
            - app-dependencies-
          working_directory: app
      - run:
          name: Install dependency.
          command: yarn install
          working_directory: app
      - save_cache:
          paths:
            - app/node_modules
          key: app-dependencies-{{ checksum "app/package.json" }}
      - run:
          name: Run test.
          command: yarn build
          working_directory: app
  test:
    working_directory: ~/simple-blog
    docker:
      - image: circleci/node:lts
    steps:
      - checkout
      - restore_cache:
          keys:
            - app-dependencies-{{ checksum "app/package.json" }}
            - app-dependencies-
          working_directory: app
      - run:
          name: Install dependency.
          command: yarn install
          working_directory: app
      - save_cache:
          paths:
            - app/node_modules
          key: app-dependencies-{{ checksum "app/package.json" }}
      - run:
          name: Run test.
          command: yarn test
          working_directory: app
  e2e:
    working_directory: ~/simple-blog
    docker:
      - image: circleci/node:jessie-browsers
    steps:
      - checkout
      - restore_cache:
          keys:
            - app-dependencies-{{ checksum "app/package.json" }}
            - app-dependencies-
          working_directory: app
      - restore_cache:
          keys:
            - e2e-dependencies-{{ checksum "app/package.json" }}
            - e2e-dependencies-
          working_directory: e2e
      - run:
          name: Install app dependency.
          command: yarn install
          working_directory: app
      - run:
          name: Install e2e dependency.
          command: yarn install
          working_directory: e2e
      - save_cache:
          paths:
            - app/node_modules
          key: app-dependencies-{{ checksum "app/package.json" }}
      - save_cache:
          paths:
            - e2e/node_modules
          key: e2e-dependencies-{{ checksum "app/package.json" }}
      - run:
          name: Delete test data.
          working_directory: e2e
          command: yarn clean
      - run:
          name: Start local server.
          working_directory: app
          command: yarn start &
      - run:
          name: Start test.
          working_directory: e2e
          command: yarn test
workflows:
  version: 2
  test:
    jobs:
      - test
  e2e:
    jobs:
      - e2e
