h2 {
  border-bottom: solid 1px #bbb;
}

.body {
  box-shadow: 0 4px 4px #ccc;
  margin-bottom: 16px;
  border-radius: 12px;
  min-height: 3em;
  padding: 12px 18px;
}

.body::first-letter {
  color: orange;
  font-size: 3em;
  line-height: 1;
  float: left;
}
